# <center>Part I - Exploratory Analysis of Adult Income Dataset</center>
### <center>by</center>

## <center>Chukwudi Collins Ozoede</center>

## Introduction
> The US Adult income dataset is a repository of 48,842 entries extracted from the 1994 US Census database. 
It contains 15 columns before cleaning. Below are the columns and their meaning:

### The Dataset
- **age:** the age of an individual
- **workclass:** a general term to represent the employment status of an individual
- **fnlwgt:** final weight. In other words, this is the number of people the census believesthe entry represents..
- **education:** the highest level of education achieved by an individual.
- **education-num:** the highest level of education achieved in numerical form.
- **marital-status:** marital status of an individual.
- **occupation:** the general type of occupation of an individual
- **relationship:** represents what this individual is relative to others. 
- **race:** Descriptions of an individualâ€™s race
- **sex:** the biological sex of the individual
- **capital-gain:** capital gains for an individual
- **capital-loss:** capital loss for an individual
- **hours-per-week**: the hours an individual has reported to work per week
- **native-country:** country of origin for an individual
- **Salary:** whether or not an individual makes more than $50,000 annually.

In [2]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

> Load in your dataset and describe its properties through the questions below. Try and motivate your exploration goals through this section.

In [3]:
adult_df = pd.read_csv('adult.data.csv')
adult_df.sample(50)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
29273,59,Self-emp-not-inc,81107,Some-college,10,Married-civ-spouse,Sales,Wife,White,Female,0,0,80,United-States,>50K
29459,29,Private,228860,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1887,50,United-States,>50K
3952,30,Private,173005,Some-college,10,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,50,United-States,>50K
3568,38,Private,283122,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
6414,37,Private,305597,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,>50K
6173,79,Private,120707,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,20051,0,35,El-Salvador,>50K
27929,28,Private,148429,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
1134,42,?,184018,Some-college,10,Divorced,?,Unmarried,White,Male,0,0,40,United-States,<=50K
9376,42,Private,194636,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
6135,32,Private,295117,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,40,England,>50K
26567,61,Private,210488,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
18850,27,Self-emp-not-inc,116613,Some-college,10,Married-civ-spouse,Other-service,Wife,White,Female,0,0,50,United-States,<=50K
13099,47,Private,109089,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,70,United-States,<=50K
2336,41,Private,160837,11th,7,Married-spouse-absent,Machine-op-inspct,Not-in-family,White,Male,0,0,40,Guatemala,<=50K
25891,42,Private,89413,12th,8,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States,<=50K
21288,33,Private,146440,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1740,40,United-States,<=50K
16950,55,Private,123515,HS-grad,9,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
31503,34,Private,167893,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,64,United-States,>50K
17263,34,Private,176992,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
29901,41,Private,197372,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,60,United-States,>50K
14063,36,Private,232874,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,<=50K
18898,38,Private,241998,12th,8,Married-civ-spouse,Craft-repair,Husband,White,Male,7688,0,40,United-States,>50K
9636,24,Private,53942,Bachelors,13,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
1040,90,Private,137018,HS-grad,9,Never-married,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K
30313,26,?,264300,Some-college,10,Married-civ-spouse,?,Wife,White,Female,0,0,20,United-States,<=50K
17116,44,Self-emp-not-inc,201742,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,2415,50,United-States,>50K
7566,27,Private,38353,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States,<=50K
27121,41,Private,138907,HS-grad,9,Divorced,Priv-house-serv,Other-relative,Black,Female,0,0,40,United-States,<=50K
7409,44,Private,172479,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,40,United-States,>50K
5851,36,Private,287658,HS-grad,9,Never-married,Adm-clerical,Own-child,Black,Male,0,0,40,United-States,<=50K
20123,22,Private,184665,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Female,0,0,40,United-States,<=50K
27893,18,Private,236272,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Female,0,0,35,United-States,<=50K
28186,35,Self-emp-not-inc,238802,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
24489,55,Private,306164,HS-grad,9,Married-civ-spouse,Other-service,Husband,Black,Male,0,0,40,United-States,<=50K
5196,40,State-gov,506329,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,Taiwan,>50K
7153,20,Private,197496,Some-college,10,Never-married,Sales,Own-child,White,Male,0,0,30,?,<=50K
30558,61,?,229744,1st-4th,2,Married-civ-spouse,?,Husband,White,Male,3942,0,20,Mexico,<=50K
31000,43,Private,475322,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,50,United-States,>50K
22697,53,Private,94081,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,44,United-States,>50K
20573,22,Private,203182,Some-college,10,Separated,Sales,Unmarried,White,Female,0,0,43,United-States,<=50K
16680,20,State-gov,39478,Some-college,10,Never-married,Exec-managerial,Own-child,White,Male,0,0,54,United-States,<=50K
31140,25,Private,222539,10th,6,Never-married,Transport-moving,Not-in-family,White,Male,2597,0,50,United-States,<=50K
21809,41,Self-emp-not-inc,26598,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Male,0,0,40,United-States,<=50K
7287,35,Private,164526,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Yugoslavia,>50K
4391,30,Private,425627,Some-college,10,Never-married,Craft-repair,Other-relative,White,Male,0,0,40,Mexico,<=50K
30946,31,Private,57781,HS-grad,9,Divorced,Adm-clerical,Unmarried,White,Female,0,0,50,United-States,<=50K
18866,28,Private,172891,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
22062,62,Local-gov,115023,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
30048,55,Private,209535,HS-grad,9,Divorced,Transport-moving,Not-in-family,White,Male,0,0,40,United-States,<=50K
23510,34,Private,136862,1st-4th,2,Never-married,Other-service,Other-relative,White,Female,0,0,40,Guatemala,<=50K

In [4]:
# this is an overview of the data shape and composition
print(adult_df.shape)
print(adult_df.dtypes)
print(adult_df.info())

(32561, 15)
age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

In [5]:
# making a copy of the dataframe before cleaning and analysis
df = adult_df.copy()

### Data cleaning
- Unnecessary columns have to be removed from the dataset
- I discovered that some cells have '?' as their values, they should all be changed to NAN
- I need to create a new column `age_group` to store age groups

#### Issue 1:
Removing unnecessary columns from the dataframe

In [ ]:
# subseting for the columns needed for this ananlysis
df = df[['age','workclass','education','marital-status', 'occupation', 'relationship', 
         'race', 'sex', 'hours-per-week', 'native-country','salary']]
df.head(1)

#### Issue 2: 
changing '?' values to NAN

In [ ]:
#solution:
df = df.replace('?', np.nan)
df.head(5)

#### Issue 3:
Create new column `age_group`

In [ ]:
#create an age group to avoid noisy and clustered visuals 
ages = df.age
age_group = []
for i, age in ages.items():
    
    if age <= 20:
        age_group.append('17-20')
    elif age>20 and age<31:
        age_group.append('21-30')
    elif age>30 and age<41:
        age_group.append('31-40')
    elif age>40 and age<51:
        age_group.append('41-50')
    elif age>50 and age<61:
        age_group.append('51-60')
    elif age>60 and age<71:
        age_group.append('61-70')
    elif age>70 and age<81:
        age_group.append('71-80')
    else:
        age_group.append('above 80')
df['age_group']= age_group


# this method can also be used
"""
conditions = [
    (df['age']<=20),
    (df['age']>20) & (df['age']<31),
    (df['age']>30) & (df['age']<41),
    (df['age']>40) & (df['age']<51),
    (df['age']>50) & (df['age']<61),
    (df['age']>60) & (df['age']<71),
    (df['age']>70) & (df['age']<81),
    (df['age']>80),
    ]

# create a list of the values we want to assign for each condition
values = ['17-20', '21-30', '31-40', '41-50', '51-60', '61-70', '71-80', 'above 80']

# create a new column and use np.select to assign values to it using our lists as arguments
df['age_group'] = np.select(conditions, values)



# display updated DataFrame
df.head()
"""